.hd__footer{
    padding-top: 1rem;
}

.social-media-logo{
    height: 0.8rem;
    width: 0.8rem;
    margin-right: 0.3rem;
}

.logos{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-titles{
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 18px;
}

.footer-title-connect{
    padding-top: 1rem;
    font-size: 30px;
}


@media screen and (max-width: 490px) {

    .hd__footer{
        display: flex;
        flex-direction: column;
    }
}